<html>
	<head>
		<title>Welcome to {{greeting_msg}}</title>
	</head>

	<body>
		<h3>Provisioned by {{provisioner_tool}}</h3>
		<h3>Configured by {{conf_mgr_tool}}</h3>
		<h3>Hostname {{ansible_hostname}}</h3>
		<h3>OS Distribution {{ansible_distribution}}</h3>
		<h3>OS Distribution version {{ansible_distribution_version}}</h3>
	</body>
</html>
